#parse("widgets/fileSelector.vtl")

#set( $id="fileSelector")
#set( $value="$FILESELECTORVALUE")

<table class="displaytable">
    <tbody>
    <tr>
        <td class="separator" colspan="3">
            <hr>
        </td>
    </tr>
    <tr>
        <td class="description">
            <nobr>Repository Paths:</nobr>
        </td>
        <td class="boxcell">
            #fileSelector($id, true, $value)
        </td>
    </tr>
</table>